.container {
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: space-between; /* 자식 요소들 사이에 공간 배분 */
  align-items: flex-start; /* 자식 요소들을 상단에 맞춤 */
  height: 100vh; /* 전체 화면 높이 사용 */
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 패딩 제거 */
}

/* 지도 전체 화면의 절반을 차지*/
.map-container {
    position: absolute; /* 화면을 절대 위치로 설정 */
    top: 0;
    left: 0;
    width: 50vw; /* 가로 너비의 50% */
    flex: 1; /* 너비 자동으로 조정*/
    height: 100vh; /* 세로 높이의 100% */
    overflow: hidden; /* 컨테이너를 넘는 내용 숨기기 */
    justify-content: center;
    margin-left: 0;
     margin-right: 0;
  }
  
  /* 맵 요소 */
  .map {
    width: 100%; /* 컨테이너의 전체 너비 */
    height: 100%; /* 컨테이너의 전체 높이 */
    // object-fit:contain; /* 지도를 컨테이너에 맞게 조정 */
  }

// /* 스팟 선택영역 */
// .spot-content {
  
// }