.weather-container {
    .weekly-forecast, .detailed-forecast {
      margin: 20px 0;
    }
  
    .forecast-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  
    .daily-forecast {
      background: #f0f0f0;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
      flex: 1;
      min-width: 100px;
  
      h3 {
        margin: 10px 0;
      }
  
      .morning, .afternoon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
  
        img {
          width: 50px;
          height: 50px;
        }
  
        p {
          margin: 5px 0;
        }
      }
  
      .temperature {
        p {
          margin: 5px 0;
        }
      }
    }
  
    .date-forecast {
      margin: 10px 0;
      
      h3 {
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
  
    .hourly-forecast-container {
      height: 400px; /* 차트 높이 설정 */
      width: 100%;
    }
  }
  